// definitions
$c-accent1   = #e64db9
$c-accent2   = #0a84ff
$c-highlight = #ffffff
$c-normal    = #f9f9fa
$c-secondary = #cdcdd3
$c-gray      = #8a8a97
$b-gray      = #38383d
$b-accent    = #2a2a2e
$b-normal    = #202023
$b-secondary = #000000

// general
html, body
	margin 0
	padding 0
body
	font-family 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
	background $b-normal
	color $c-normal
	font-weight 300
	font-size 16px
a, a:visited
	text-decoration none
	transition color .2s
	color $c-accent2
	&:hover
		color $c-accent1

// animations
@keyframes rotate
	0%
		transform rotate(0)
	100%
		transform rotate(360deg)
@keyframes colorFading
	0%
		stroke $c-accent2
	100%
		stroke $c-accent1

// coloring
.text-accent1,
.text-hover-accent1:hover
	color $c-accent1
.text-accent2,
.text-hover-accent2:hover
	color $c-accent2
.text-secondary
	color $c-secondary
.text-gray
	color $c-gray
.text-highlight,
.text-hover-highlight:hover
	color $c-highlight
.text-center
	text-align center
.text-right
	text-align right
.text-small
	font-size .75em
.background-hover-accent2:hover
	background $c-accent2
.background-gray
	background $b-gray

// positioning
.mr-1
	margin-right 1rem
.mt-1
	margin-top 1rem
.mt-2
	margin-top 2rem
.mt-5
	margin-top 5rem
.mr-1
	margin-right 1rem
.mr-2
	margin-right 2rem
.mb-05
	margin-bottom .5rem
.my-6
	margin-top 6rem
	margin-bottom 6rem
.m-0-auto
	margin 0 auto
.d-block
	display block

// icons
.icon
	stroke-width 1.5
	stroke $b-gray
	fill none
	stroke-linecap round
	stroke-linejoin round

	&.icon-huge
		width 10rem
		height 10rem

	&.icon-animated-color-transition
		animation colorFading 1s 0s infinite ease alternate

// shadows
.shadow
	box-shadow 0 8px 15px -8px #1d1d1f
.focus-shadow:focus
	box-shadow: 0 0 0 .35rem rgba($c-normal, .2)

// form
select
	appearance none
	background $b-accent
	border none
	border-radius 4px
	color inherit
	padding .5rem
	outline none
	&[disabled]
		color $c-gray

// loader
loader(size)
	display inline-block
	height size
	width size
	border 4px solid $b-accent
	border-radius 50%
	border-top-color $c-gray
	animation rotate 1s 0s infinite linear

// tooltip
tooltip()
	position relative
	&::after
		background rgba($b-secondary, .75)
		border-radius 3px
		bottom 100%
		color $c-highlight
		content attr(data-tooltip)
		display block
		font-size .75em
		left 50%
		opacity 0
		padding .5em
		pointer-events none
		position absolute
		transform translate(-50%, .8rem)
		transition opacity .2s, transform .2s
		white-space pre
		z-index 5
	&:focus, &:hover
		&::after
			opacity 1
			transform translate(-50%, -.4rem)
