// definitions
mode = {
	dark: {
		accent1:    #e64db9
		accent2:    #0a84ff
		back:       #202023
		front:      #f9f9fa
		gray1:      #8a8a97
		gray2:      #38383d
		gray3:      #2a2a2e
		highlight:  #ffffff
		secondary1: #cdcdd3
		secondary2: #000000
		shade:      #1d1d1f
		icon:       #ffeb3b
	}
	light: {
		accent1:    #e64db9
		accent2:    #0a84ff
		back:       #f9f9fa
		front:      #202023
		gray1:      #58585d
		gray2:      #8a8a97
		gray3:      #cdcdd3
		highlight:  #000000
		secondary1: #2a2a2e
		secondary2: #ffffff
		shade:      #6d6d6f
		icon:       #607d8b
	}
}
transition = {
	duration: .2s
	function: ease
}

// general
html, body
	margin: 0
	padding: 0
body
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
	font-weight: 300
	font-size: 16px
	*
		transition: color transition.duration transition.function, background transition.duration transition.function, background-color transition.duration transition.function
a, a:visited
	text-decoration: none
	transition: color transition.duration transition.function
	for m, c in mode
		.{m} &
			color: c.accent2
			&:hover
				color: c.accent1
hr
	border: none
	height: 1px
	for m, c in mode
		.{m} &
			background: c.gray2

// animations
@keyframes rotate
	0%
		transform: rotate(0)
	100%
		transform: rotate(360deg)

for m, c in mode
	@keyframes {m}ColorFading
		0%
			stroke: c.accent2
		100%
			stroke: c.accent1

// coloring
for m, c in mode
	.{m}
		.text-normal, &.text-normal
			color: c.front
		.text-accent1
			color: c.accent1
		.text-hover-accent1:hover,
		.text-hover-accent1:hover *
			color: c.accent1 !important
		.text-accent2
			color: c.accent2
		.text-hover-accent2:hover,
		.text-hover-accent2:hover *
			color: c.accent2 !important
		.text-secondary
			color: c.secondary1
		.text-gray
			color: c.gray1
		.text-highlight
			color: c.highlight
		.text-hover-highlight:hover,
		.text-hover-highlight:hover *
			color: c.highlight !important
		.background-normal, &.background-normal
			background: c.back
		.background-highlight, &.background-highlight
			background: c.highlight
		.background-highlight-contrast, &.background-highlight-contrast
			background: c.secondary2
		.background-modal, &.background-modal
			background: c.gray3
		.background-gray
			background: c.gray2
		.background-hover-accent2:hover
			background: c.accent2 !important

// positioning and size
.text-center
	text-align: center
.text-middle
	vertical-align: middle
.text-right
	text-align: right
.text-base
	font-size: 1em
.text-small
	font-size: .85em
.text-tiny
	font-size: .75em
.text-thin
	font-weight: 300
.mt-1
	margin-top: 1rem
.mt-2
	margin-top: 2rem
.mt-3
	margin-top: 3rem
.mt-5
	margin-top: 5rem
.mt-6
	margin-top: 6rem
.ml-2
	margin-left: 2rem
.ml-auto
	margin-left: auto
.mb-05
	margin-bottom: .5rem
.mb-1
	margin-bottom: 1rem
.mr-1
	margin-right: 1rem
.mr-2
	margin-right: 2rem
.my-3
	margin-top: 3rem
	margin-bottom: 3rem
.my-6
	margin-top: 6rem
	margin-bottom: 6rem
.m-0-auto
	margin: 0 auto
.p-1
	padding: 1rem
.py-1
	padding-top: 1rem
	padding-bottom: 1rem
.px-1
	padding-left: 1rem
	padding-right: 1rem
.pt-1
	padding-top: 1rem
.pt-2
	padding-top: 2rem
.pb-6
	padding-bottom: 6rem
.d-block
	display: block
.d-inline
	display: inline
.d-inline-block
	display: inline-block
.d-flex
	display: flex
.d-inline-flex
	display: inline-flex
.flex-grow
	flex-grow: 1
.position-absolute
	position: absolute
.position-relative
	position: relative
.top-05
	top: .5rem
.right-05
	right: .5rem

// cursor
.cursor-pointer
	cursor: pointer

// icons
.icon
	stroke-width: 1.5
	fill: none
	stroke: currentColor
	stroke-linecap: round
	stroke-linejoin: round
	width: 2rem
	height: 2rem
	transition: all transition.duration transition.function

	&.icon-text
		width: 1rem
		height: 1rem

	&.icon-small
		width: 1.5rem
		height: 1.5rem

	&.icon-huge
		width: 10rem
		height: 10rem
	
	&.icon-thin
		stroke-width: 1
	
	&.icon-bold
		stroke-width: 2

	&.icon-strong
		stroke-width: 3

	for m, c in mode
		.{m} &
			&.icon-{m}
				color: c.icon
			&.icon-gray
				stroke: c.gray2
			&.icon-hover-accent > *
				transition: inherit
			&.icon-hover-accent:hover
				.icon-part-accent1
					stroke: c.accent1
				.icon-part-accent1-dark
					stroke: darken(c.accent1, 60%)
				.icon-part-accent2
					stroke: c.accent2
				.icon-part-accent2-dark
					stroke: darken(c.accent2, 60%)
			&.icon-animated-color-transition
				animation: unquote(m+ColorFading) 1s 0s infinite ease alternate

// shadows
for m, c in mode
	.{m}
		.shadow
			box-shadow: 0 8px 15px -8px c.shade

// form
button
	appearance: none
	border: none
	border-radius: 2px
	padding: 1rem 2rem
	transition: all transition.duration transition.function
	cursor: pointer
	color: mode.dark.highlight
	&.button-inline
		padding: .5rem
	for m, c in mode
		.{m} &
			background: c.accent2
		.{m} &:hover
			background: darken(c.accent2, 20%)
		.{m} &:active
			background: lighten(c.accent2, 25%)
		.{m} &:focus
			box-shadow: 0 0 0 .25rem rgba(c.accent2, .2)

select
	appearance: none
	border: solid 1px
	border-radius: 2px
	color: inherit
	padding: .5rem 1.5rem .5rem .5rem
	outline: none
	transition: all transition.duration transition.function
	for m, c in mode
		.{m} &
			color: c.front
			if m is 'dark'
				background: c.gray3 url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%204%205%22%3E%3Cpath%20fill=%22%23" substr(s("%s", c.gray2),1,6) "%22%20d=%22M2%200L0%202h4zm0%205L0%203h4z%22/%3E%3C/svg%3E") no-repeat right .5em center / .6em .75em
				border-color: c.gray2
			else
				background: c.back url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%204%205%22%3E%3Cpath%20fill=%22%23" substr(s("%s", c.gray3),1,6) "%22%20d=%22M2%200L0%202h4zm0%205L0%203h4z%22/%3E%3C/svg%3E") no-repeat right .5em center / .6em .75em
				border-color: c.gray3
		.{m} &:hover
			border-color: c.gray1
		.{m} &:focus
			border-color: c.accent2
			box-shadow: 0 0 0 .25rem rgba(c.accent2, .2)

input[type=text],
input[type=email],
input[type=date],
textarea
	appearance: none
	border: solid 1px
	border-radius: 2px
	padding: .5rem
	transition: all transition.duration transition.function
	for m, c in mode
		.{m} &
			background: c.back
			color: c.front
			if m is 'dark'
				border-color: c.gray2
			else
				border-color: c.gray3
		.{m} &:hover
			border-color: c.gray1
		.{m} &:focus
			border-color: c.accent2
			box-shadow: 0 0 0 .25rem rgba(c.accent2, .2)
		.{m} &::placeholder
			color: c.gray2
			opacity: 1
textarea
	width: 100%
	font-size: .9rem

.checkbox
	display: block
	line-height: 24px
	margin: 1px 0 4px 0
	min-height: 24px
	padding: 0 0 0 32px
	position: relative
	.checkbox-icon
		border-radius: 2px
		height: 24px
		left: 0
		top: 0
		width: 24px
		border: 1px solid
		cursor: pointer
		display: inline-block
		position: absolute
		transition: all transition.duration transition.function
	input
		clip: rect(0, 0, 0, 0)
		height: 1px
		margin: -1px
		overflow: hidden
		position: absolute
		width: 1px
		&:checked + .checkbox-icon::before
			background-clip: padding-box
			border: 2px solid
			border-left-width: 0
			border-top-width: 0
			content: ""
			height: 15px
			left: 6px
			position: absolute
			top: 0
			transform: rotate(45deg)
			width: 8px
	for m, c in mode
		.{m} &
			.checkbox-icon
				background: c.back
				if m is 'dark'
					border-color: c.gray2
				else
					border-color: c.gray3
			input:checked + .checkbox-icon
				background: c.accent2
				border-color: c.accent2
				&::before
					border-color: mode.dark.highlight
			&:hover .checkbox-icon
				border-color: c.gray1
			&:hover input:checked + .checkbox-icon
				border-color: c.highlight
		.{m} input:focus + .checkbox-icons
			border-color: c.accent2
			box-shadow: 0 0 0 .25rem rgba(c.accent2, .2)

.switch
	padding: 0
	position: relative
	display: inline-block
	vertical-align: top
	width: 60px
	height: h = 24px
	border-radius: (h/2)
	cursor: pointer
	transition: all transition.duration transition.function
	.switch-label
		border: solid 1px
		position: relative
		display: block
		height: inherit
		font-size: 10px
		text-transform: uppercase
		border-radius: inherit
		transition: inherit
		&::before, &::after
			position: absolute
			top: 45%
			transform: translateY(-50%)
			transition: inherit
		&::before
			content: attr(data-off)
			right: (h/4)
		&::after
			content: attr(data-on)
			left: (h/4)
			opacity: 0
	.switch-handle
		position: absolute
		border-radius: 100%
		top: 4px
		left: 4px
		width: (h*2/3)
		height: (h*2/3)
		transition: inherit
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		&:checked
			~ .switch-label
				&::before
					opacity: 0
				&::after
					opacity: 1
			~ .switch-handle
				left: 40px
	for m, c in mode
		.{m} &
			.switch-label
				border-color: c.gray3
				if m is 'dark'
					background: c.gray2
				else
					background: c.back
				&::before
					color: c.gray1
				&::after
					if m is 'dark'
						color: c.highlight
					else
						color: c.secondary2
			&:hover
				.switch-label
					border-color: c.gray1
				input:checked ~ .switch-label
					border-color: c.highlight
			.switch-handle
				if m is 'dark'
					background: c.front
				else
					background: c.gray2
			input:checked
				~ .switch-label
					background: c.accent2
					border-color: c.accent2
				~ .switch-handle
					if m is 'dark'
						background: c.highlight
					else
						background: c.secondary2

// tabs
.tab
	align-items: center
	display: flex
	flex-wrap: wrap
	list-style: none
	margin-bottom: 0
	border-bottom: 1px solid
	padding-left: 1rem
	.tab-item
		margin-top: 0
		> span
			border-bottom: 2px solid transparent
			color: inherit
			display: block
			margin-bottom: -1px
			padding: .5rem 1rem
			text-decoration: none
	for m, c in mode
		.{m} &
			border-bottom-color: c.gray3
			color: c.gray1
			.tab-item.active > span
				border-bottom-color: c.accent2
				color: c.accent2

// tags
.tag
	display: inline-block
	margin: .5rem .5rem 0 0
	padding: .2rem .2rem .2rem .5rem
	&>*
		vertical-align: middle
	for m, c in mode
		.{m} &
			color: c.front
			if m is 'dark'
				background: c.gray3
			else
				background: c.back

// loader
loader(size, border)
	display: inline-block
	height: size
	width: size
	border-radius: 50%
	animation: rotate 1s 0s infinite linear
	border: border solid
	for m, c in mode
		&.{m}
			border-color: c.gray3
			border-top-color: c.gray1
			&.loader-accent2
				border-color: darken(c.accent2, 60%)
				border-top-color: c.accent2

// tooltip
.tooltip
	position: relative
	&::after
		border-radius: 3px
		top: auto
		bottom: 100%
		content: attr(data-tooltip)
		display: block
		font-size: .7rem
		font-weight: normal
		left: 50%
		opacity: 0
		padding: .5rem
		pointer-events: none
		position: absolute
		transform: translate(-50%, .8rem)
		transition: opacity transition.duration transition.function, transform transition.duration transition.function
		white-space: pre
		z-index: 5
		color: mode.dark.highlight
		background: rgba(mode.dark.secondary2, .75)
	&:focus, &:hover
		&::after
			opacity: 1
			transform: translate(-50%, -.4rem)
	&.tooltip-bottom
		&::after
			bottom: auto
			top: 100%
		&:focus, &:hover
			&::after
				transform: translate(-50%, .4rem)
